# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# PyInstaller
build/
dist/
*.spec
!LogFacil.spec

# Virtual environments
venv/
env/
ENV/

# VS Code
.vscode/

# Logs temporarios
*.log
